.courses-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 3%;
    .course-item {
        background-color: #fff;
        flex-grow: 1;
        width: 250px;
        padding: 35px 20px 55px;
        text-align: center;
        box-shadow: 1.5px 1.5px 15px rgba(0, 0, 0, .05);
        border-radius: 22px;
        position: relative;
        overflow: hidden;
        img {
            height: 68px;
            margin-bottom: 12px;
        }
        h2 {
            color: #f3b01b;
        }
        h3 {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 200;
        }
        .btn-act {
            display: inline-block;
            padding: 5px 17px;
            border: 1px solid #767676;
            margin-top: 20px;
            border-radius: 20px;
            transition: all .4s;
        }
        p {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            background: #fff;
            padding: 7px 20px;
            font-size: 12px;
            border-top: 1px solid #fafafa;
            display: flex;
            justify-content: space-between;
            color: #404040;
        }
    }
}